@model PharmacyApplication.Models.VerifiedPatient
@using PharmacyApplication.Controllers
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create";
}

<h4>Add PolicyHolder</h4>

<div>
    @using (Html.BeginForm("Create", "VerifiedPatients", FormMethod.Post, new { vm = Model }))
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.LabelFor(a => a.Name, new { @class = "form-label" })
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
                @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString(HomeController.CreatePatientNameValidation).ToString()))
                {
                    <label class="text-danger">@HttpContextAccessor.HttpContext.Session.GetString(HomeController.CreatePatientNameValidation).ToString()</label>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.LabelFor(a => a.DateOfBirth, new { @class = "form-label" })
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(a => a.DateOfBirth, new { @class = "form-control", @type = "date" })
                @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString(HomeController.CreatePatientDOBValidation).ToString()))
                {
                    <label class="text-danger">@HttpContextAccessor.HttpContext.Session.GetString(HomeController.CreatePatientDOBValidation).ToString()</label>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.LabelFor(a => a.Pronouns, new { @class = "form-label" })
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(a => a.Pronouns, new { @class = "form-control" })
                @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString(HomeController.CreatePatientPronounsValidation).ToString()))
                {
                    <label class="text-danger">@HttpContextAccessor.HttpContext.Session.GetString(HomeController.CreatePatientPronounsValidation).ToString()</label>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.LabelFor(a => a.Address, new { @class = "form-label" })
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(a => a.Address, new { @class = "form-control" })
                @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString(HomeController.CreatePatientAddressValidation).ToString()))
                {
                    <label class="text-danger">@HttpContextAccessor.HttpContext.Session.GetString(HomeController.CreatePatientAddressValidation).ToString()</label>
                }
            </dd>
        </dl>
        <input type="submit" value="Submit" class="btn btn-primary btn-block" style="width: 15%" />
    }
</div>
<p> </p>
<div>
    <a asp-action="Index" class="btn btn-primary btn-block" style="width: 15%">Cancel</a>
</div>