@model PharmacyApplication.Models.Prescription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicianName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicianName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicianLicenseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicianLicenseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicianVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicianVerified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientVerified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
