@model PharmacyApplication.Models.PrescriptionDetailsViewModel
@{
    ViewData["Title"] = "ViewBill";
}

<div class="row">
    <div class="col-md-12">
        <div class="h2">Bill</div>
        <table class="table table-bordered table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>Drug Code</th>
                    <th>Drug Name</th>
                    <th>Quantity</th>
                    <th>Total Cost</th>
                    <th>Insurance Pays</th>
                    <th>Patient Pays</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var pd in Model.PrescribedDrugs)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => pd.CurrentDrug.DrugCode)</td>
                    <td>@Html.DisplayFor(modelItem => pd.CurrentDrug.MedicalName)</td>
                    <td>@Html.DisplayFor(modelItem => pd.Count)</td>
                    <td>@Html.DisplayFor(modelItem => pd.TotalCost)</td>
                    <td>@Html.DisplayFor(modelItem => pd.CoveredAmount)</td>
                    <td>@Html.DisplayFor(modelItem => pd.Remaining)</td>
                </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Subtotal</td>
                    <td>@Html.DisplayFor(modelItem => Model.CurrentPrescription.SubtotalCost)</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tax</td>
                    <td>@Html.DisplayFor(modelItem => Model.CurrentPrescription.TaxCost)</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>@Html.DisplayFor(modelItem => Model.CurrentPrescription.TotalCost)</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-sm-2">
        <div class="btnbtn-success">
            <p>download?</p>
        @Html.ActionLink("Create Pdf", "CreatePdf", "Home") 
        </div>

    </div>
</div>
