@model PharmacyApplication.Models.VerifiedPhysician

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pronouns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pronouns)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary btn-block" style="width: 15%">Back to List</a>
</div>
