@model IEnumerable<PharmacyApplication.Models.VerifiedPhysician>

@{
    ViewData["Title"] = "Index";
}

<h1>Verified Physicians</h1>
<form asp-controller="VerifiedPhysicians" asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNumber)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-block">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
